---
POSTGRES_PASSWORD: change_me
N8N_WEBHOOK_URL: http://n8n:5678/webhook/virtualclass-ai
N8N_ENCRYPTION_KEY: change_me_32_chars_minimum
N8N_API_KEY: change_me
N8N_EDITOR_BASE_URL: http://10.82.225.213:5678
OPENAI_API_KEY: sk-or-v1-your-key
TELEGRAM_BOT_TOKEN: "your_bot_token"
TELEGRAM_CHAT_ID: "your_chat_id"
SERVER_IP: 10.82.225.213
GRAFANA_USER: admin
GRAFANA_PASSWORD: change_me
TZ: Asia/Almaty
